<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Local" value="C:\Projects\CharonMicroservices\CharonDbContext\src\CharonDbContext\bin\Release\net9.0\publish" />
  </packageSources>
</configuration>

